<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <div class="content">
          <!--pinterest logo-->
          <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo" class="img1" />
          <p class="header">Register to see more</p>
          <p class="err"></p>
          <form action="/register" method="post">
            <input name="username" type="text" placeholder="username" class="detail" />
          <input name="email" type="email" placeholder="Email" class="detail" /><br />
          <input name="fullname" type="text" placeholder="fullname" class="detail" />

          <input name="password" type="password" placeholder="password" class="detail" />
    
  
         
  
          <button type="submit" class="btn int">Register</button>
          </form>
          
            <a href="login">Already on Pinterest? Login</a>
          </footer>
        </div>
      </div>
      <a href="login" class="upbtn">Login</a>
  
</body>
</html>